
.drag-area {
    width: 100%;
    padding: 10vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #fff;
    background: darkcyan;
    gap: 1rem;
}

.drag-area.active {
    border: 2px solid #fff;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: rgb(0, 65, 139);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.drag-area button:hover {
    color: #fff;
    background: rgb(0, 65, 139);
}

.drag-area.hidden {
    display: none;
}

.drag-area.block {
    display: block;
}


svg {
    cursor: pointer;

}

svg:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

#text-container {
    width: 100%;
    max-height: 400px;
    min-height: 0;
    overflow-y: scroll;
    border:2px solid white;
    border-radius: 4px;
    padding: 1rem;
    white-space:pre-wrap;
}

h3{
    margin: 1rem 0;
}