.file-list-container{
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.drag-area{
  width:100%;
  padding: 10vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed #fff;
  background: darkcyan;
  gap:1rem;
}
.drag-area.active{
  border: 2px solid #fff;
}

.drag-area header{
  font-size: 30px;
  font-weight: 500;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color:rgb(0, 65, 139);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.drag-area button:hover{
    color: #fff;
    background:rgb(0, 65, 139);
}

.drag-area.hidden{
  display: none;
}

.drag-area.block{
  display: block;
}

.convert-file-container{
  background-color: #fff;
  border-radius: 3px;
  color: black;
  width: 100%;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.convert-file-container>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap:1rem;
}


.filename-container{
  max-width: 200px;
  flex-grow: 1;
  position: relative;
}

.filename-container>img{
  display: none;
  position: absolute;
  width:150px;
  object-fit: cover;
  top: 100%;
  left: 50%;
  z-index: 2;
}

.filename-container:hover>img{
  display: inline;
}
select{
  border: 1px solid black;
  
}

option{
  padding: 2px 4px;
}

p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.convert-file-container svg{
  cursor: pointer;

}

.convert-file-container svg:hover{
  cursor: pointer;
}

.extra-buttons{
  margin-top: 2rem;
  font-size: 1.1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.extra-buttons button{
  padding: .6em;
  border-radius: .3em;
  display: flex;
  flex-direction: row;
}

.extra-buttons button:first-child{
  background-color: rgb(202, 0, 0);
}

.extra-buttons button:last-child{
  background-color: green;
}

.hidden{
  display: none;
}

