{% extends "base.html" %}
{% block title %}ColorTools{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="/static/css/image/image-converter.css" />
{% endblock styles %}

{% block content %}
<main>
    <h2>Online Image Converter</h2>
    <div class="file-list-container">
        <div class="drag-area" ondrop="" ondragover="return false">
            <span class="drag-text">Drop images here</span>
            <button onclick="input.click()">Browse File</button>
            <input type="file" name="file" id="file" multiple hidden onchange="onFilesInput(this.files)">
        </div>
    </div>
    <div class="extra-buttons hidden">
        <button onclick="removeAll()">Remove All</button>
        <button onclick="downloadAll()">Download All</button>
    </div>
</main>
{% endblock content %}
{% block scripts %}
<script src="/static/js/image/image-converter.js"></script>
{% endblock scripts %}