*,*::after,*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    width:100vw;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family:Poppins,sans-serif ;
}

main{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}