@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Signika+Negative:wght@300;400;500;600&display=swap');

html,body{
    margin: 0%;
    padding: 0%;
}


*,*::after,*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    width:100vw;
    max-width: 100%;
    min-height: 100vh;
    /* overflow-x: hidden; */
    font-family: 'Signika Negative', sans-serif;
    background: linear-gradient(176deg,rgb(18,24,27) 50%,rgb(32,39,55) 100%);
    background-attachment: fixed;
    color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#root{
    width:100%;
    padding: 0rem 1rem;
    flex-grow: 1;
}

main{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgba(26, 26, 26, 0.7);
    z-index: 10;
}

.logo{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

header + div{
    margin-top: 60px;
}

header > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
}

header .login{
    background-color: rgb(0, 158, 0);
    padding: .3rem 1.5rem;
    border-radius: 20px;
}

header .login:hover{
    scale: 1.05;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content >* {
    color: black;
    padding: .75rem 1rem;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h2{
    font-size: 1.5rem;
    margin: 2rem 0;
}


footer{
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding:1.5rem;
    gap:1rem;
}

footer p{
    max-width: 400px;
    min-width: 0%;
}

#social-links{
    display: flex;
    gap:1.5rem;
    align-items: center;
    justify-content: center;
}

#social-links a{
    display: inline-block;
    position: relative;

    &:visited{
        text-decoration: inherit;
        color: inherit;
    }


    &:before{
        content: " ";
            width: 3rem;
            aspect-ratio: 1;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, #00B5F5, #002A8F);
            transition: all 250ms ease-out;
        }

    &:hover:before{
        transform: scale(0);
        transition: all 250ms ease-in;
    }

    &:hover svg{
        /*
        background:-webkit-linear-gradient(45deg, #00B5F5, #002A8F);
        -webkit-background-clip: text;
        background-clip:none;
        -webkit-text-fill-color: transparent;
        */
        transform: scaleX(-1) scale(1.5);
        transition: transform 250ms ease-in;
    }
}

#social-links a>svg{
    position: absolute;
    left:50%;
    top: 50%;
    font-size: 1.5rem;
    translate: -50% -50%;
}

footer h3{
    font-weight: 500;
    font-size: 1.2rem;
    margin: .5rem 0;
}

footer ul{
    list-style: circle;
}