

.palettes-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.palette {
    display: flex;
    flex-direction: row;
    height: 5rem;
    width:289px;
}

.palette-color {
    flex-grow: 1;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.palette-color>span {
    display: none;
}

.palette-color:hover>span {
    display: inline;
}

.palette-color:first-child {
    border-radius: 5px 0px 0px 5px;
}

.palette-color:last-child {
    border-radius: 0px 5px 5px 0px;
}
