.gradients-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:1.5rem;
}

.gradient-box{
    height: 159px;
    aspect-ratio: 16/9;
    border-radius: 6px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
}

.gradient-box:hover{
    scale: 1.05;
}

.gradient-box:hover button{
    display: inline;
}

.gradient-box button{
    background-color: black;
    width:4rem;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    display: none;
}


.copy-toast{
    position: absolute;
    left:50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: .5rem 1.5rem;
    background-color: black;
    color: white;
    border-radius:25px;
    font-weight: bold;
    z-index: 10;
}