<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/reset.css"/>
        <link rel="stylesheet" href="/static/css/global.css"/>
        {% block styles %}{% endblock %}
    </head>

    <body class="bg-gradient-to-tl from-[#0b1121] from-10% to-blue-900 to-90% bg-fixed text-white">
                <!-- important remove in production -->
                {% if DEBUG %} {{ hot_reload.script(url_for('hot-reload')) | safe }} {% endif%}
                <!-- remove -->
        <header>
            <div class="logo">
                <h1>ColorTools</h1>
            </div>
            <nav>
                <a href="/">HOME</a>
                <div class="dropdown">
                    <span>TOOLS</span>
                    <div class="dropdown-content">
                        <a href="/color-gradients">Color Gradients</a>
                        <a href="/color-palettes">Color Palettes</a>
                      </div>
                    
                </div>
                <a href="/about-us">ABOUT US</a>
                <a class="login" href="/login">LOGIN</a>
            </nav>   
        </header>


        {% block content %}
        {% endblock %}

        <footer>

        </footer>
    </body>
</html>