{% extends "base.html" %}
{% block title %}Gradients | ColorTools{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="/static/css/gradients.css" />
{% endblock styles %}

{% block content %}
<main>
    <h2>CSS GRADIENTS</h2>
    <div class="gradients-container">
        {%for style in styles %}
        <div style="background:{{style}}" class="gradient-box">
            <button>Copy</button>
            <button>Edit</button>
        </div>
        {%endfor%}
    </div>

</main>
{% endblock content %}