{% extends "base.html" %}
{% block title %}Gradients | ColorTools{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="/static/css/palettes.css" />
{% endblock styles %}

{% block content %}
<main>
    <h2>CSS GRADIENTS</h2>
    <div class="palettes-container">
        {%for palette in palettes %}
        <div class="palette">
            {%for color in palette %}
            <span style="background-color:{{color}};color:{{compute_text_color(color)}}" class="palette-color">
                <span>{{color}}</span>
            </span>
            {%endfor%}
        </div>
        {%endfor%}
    </div>

</main>
{% endblock content %}

